*{
    margin:0;
    padding:0;
    font-family:'poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background:cadetblue;
}

.card{
    border: 5px grey;
    width:90%;
    max-width:470px;
    background:radial-gradient(#00feba, #110b3b);
    border-radius: 10px;
    margin: 100px auto 0;
    padding:20px 30px;
    text-align: center;
    color:#fff;
}

.search{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    outline:0;
    border:0;
    background:#ebfffc;
    padding:10px 25px;
    border-radius:30px;
    flex:1;
    margin-right:16px;
    font-size:18px;
    color:#555;
}
 .search button{
    border:0;
    outline:0;
    background:#ebfffc;
    border-radius:50%;
    width:60px;
    height:60px;
    cursor: pointer;


} 
.search button img{
    width:40px;
}
.weather-icon{

    width:40px;
}
.weather img{
    width:100px;
    height:100px;
}
.weather h1{
    font-size:80px;
    font-weight: 500;
}
.weather h2{
    font-size:45px;
    font-weight:400;
    margin-top: -10px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top: 50px;
}
.col{
    display:flex;
    align-items:center;
    text-align:left;
}
.col img{
    width:40px;
    height:40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size:28px;
    margin-top: -6px;
}

